.start{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.start-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.start-players{
    background-color: var(--color-bg-dark);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 8px #00000033;
}
.start-players span{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    border-radius: 10px;
    cursor: pointer;
}
.start-players span.active{
    background-color: var(--color-gray);
    box-shadow: 0 0 8px #ffffff33;
}
.start-btns{
    display: flex;
    flex-direction: column;
    gap: 12px;
}