*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-bg-dark: #192a33;
  --color-bg-light: #1f3640;
  --color-gray: #a8bec9;
  --color-gray-dark: #7a8991;
  --color-yellow: #f2b328;
  --color-yellow-dark: #cd8d16;
  --color-blue: #30c4be;
  --color-blue-dark: #128c89;

  --shadow-y: 6px;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}

body{
  background-color: var(--color-bg-dark);
  color: var(--color-gray);
}
/* Utilities */

.card{
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  background-color: var(--color-bg-light);
  text-align: center;
}

.text-lg{
  font-size: 1.25rem;
}
.text-xl{
  font-size: 1.5rem;
}
.text-2xl{
  font-size: 1.725rem;
}

.text-light{
  color: var(--color-gray-dark);
}
.text-blue{
  color: var(--color-blue);
}
.text-yellow{
  color: var(--color-yellow);
}

/* Background */

.bg-light{
  background-color: var(--color-gray);
  color: var(--color-bg-dark);
}
.bg-blue{
  background-color: var(--color-blue);
  color: var(--color-bg-dark);
}
.bg-yellow{
  background-color: var(--color-yellow);
  color: var(--color-bg-dark);
}
.bg-blue.text-light,
.bg-blue .text-light,
.bg-yellow.text-light,
.bg-yellow .text-light,
.bg-light.text-light,
.bg-light .text-light{
  color: var(--color-bg-light);
}

/* Background */

.btn{
  background-color: var(--color-gray);
  border: none;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 12px 25px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-bg-light);
  display: inline-block;
  box-shadow:  0 var(--shadow-y) 0 var(--color-gray-dark);
  margin-bottom: 6px;
  transition: .2s;
}
.btn:hover{
  transform: translateY(-2px);
  --shadow-y: 8px;
}
.btn:active{
  --shadow-y: 4px;
  transform: translateY(2px);
}
.btn-yellow{
  background-color: var(--color-yellow);
  box-shadow:  0 var(--shadow-y) 0 var(--color-yellow-dark);
}
.btn-blue{
  background-color: var(--color-blue);
  box-shadow:  0 var(--shadow-y) 0 var(--color-blue-dark);
}
.btn-sm{
  --shadow-y: 4px;
}
.btn-sm:hover{
  --shadow-y: 6px;
}
.btn-sm:active{
  --shadow-y: 3px;
}

/* Icons */

.icon{
  display: inline-block;
}
.icon svg{
  fill: var(--color-gray);
  width: 50px;
}
.icon-sm svg{
  width: 30px;
}
.icon-lg svg{
  width: 65px;
}
.icon-yellow svg{
  fill: var(--color-yellow);
}
.icon-blue svg{
  fill: var(--color-blue);
}
.icon-dark svg{
  fill: var(--color-bg-dark);
}

/* Icons */

/* Shadow */

.shadow-gray{
  box-shadow: 0 8px 0 #00000033;
}
.shadow-blue{
  box-shadow: 0 8px 0 var(--color-blue-dark);
}
.shadow-yellow{
  box-shadow: 0 8px 0 var(--color-yellow-dark);
}

/* Shadow */

/* Utilities */
.app{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  max-width: 450px;
  width: 100%;
  margin: auto;
  padding: 32px 16px;
}